# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nscomzzptpjmqlqbwsmu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_sSaB1_ISOh2LqYx1QG1YGQ_EJ-Qp-__

# Default company id (Vista Group seed)
NEXT_PUBLIC_DEFAULT_COMPANY_ID=96f6b539-b491-4df7-91a2-80c7c8e7491d
